body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eae8e8;
}

.calculator {
  width: 450px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 0;
  margin-top: 5px;
}

#result-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #373535;
  margin-top: 10px;
}

#result {
  width: 85%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  text-align: right;
  margin-right: 15px;
}

.backspace {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 17px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backspace:hover {
  background-color: #d32f2f;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98);
}
